.feature-card {
    text-align: center;
    padding: 20px;
  }
  
  .feature-card img {
    max-width: 230px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 1rem;
    color: #555;
  }
  